.catalog-list{
  margin-bottom: 61px;
  &__body{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
    .jq-selectbox{
      flex: 1 0 160px;
      max-width: 160px;
    }
  }
  &__title{
    font-family: 'Arial';
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    margin: 0;
    flex: 1;
  }
  &__filter{
    display: none;
    width: 100%;
    max-width: 218px;
    padding: 17px;
  }
  &__products{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    .product-item{
      flex: 1 0 calc(33.33% - 20px);
      max-width: 33.33%;
    }
  }
  &__footer{
    margin-top: 56px;
  }
  @include r(1023){
    &__title{
      display: none;
    }
    &__filter{
      display: block;
    }
  }
  @include r(767){
    margin-bottom: 30px;
    &__filter{
      max-width: 138px;
    }
    &__products{
      .product-item{
        flex: 1 0 calc(50% - 20px);
        max-width: 50%;
      }
    }
  }
}