.catalog-detail-delivery{
    margin-bottom: 10px;
    &__body{
        background-color: #FAFAFA;
        padding: 16px 23px;
        margin-bottom: 10px;
    }
    &__title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: #000000;
        margin: 0 0 15px;
    }
    &__item{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 10px;
        position: relative;
        padding-left: 40px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 27px;
        color: #000000;
        &:last-of-type{
            margin-bottom: 0;
        }
        .icon{
            position: absolute;
            top: -1px;
            left: 0;
        }
    }
    &__price{
        flex-shrink: 0;
    }
    &__banner{
        img{
            width: 100%;
            display: block;
        }
    }
    .small{
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        color: #000000;
    }
}