.detail{
    margin-top: 100px;
    margin-bottom: 125px;
    &__body{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }
    &__slider{
        overflow: hidden;
        flex: 1 0 calc(55% - 20px);
        max-width: 55%;
        img{
            display: block;
            object-fit: cover;
        }
    }
    &__content{
        flex: 1 0 calc(40% - 20px);
        max-width: 45%;
    }
    &__share{
        margin-top: 20px;
        padding: 10px 0;
        border-top: 1px solid #777777;
        ul{
            padding: 0;
            margin: 0;
        }
    }

    .slider-thumbs{
        margin-top: 15px;
    }
    .tabs{
        margin-bottom: 30px;
        &__content{
            background-color: transparent;
            ul{
                margin: 0 0 20px;
                padding-left: 20px;
                li{
                    font-size: 13px;
                    line-height: 25px;
                    color: #777;
                }
            }
        }
    }
    @include r(1023){
        &__btns{
            .btn{
                max-width: 100%;
                display: block;
                margin-bottom: 10px;
            }
        }
        .tabs{
            margin-bottom: 20px;
            &__content{
                margin-bottom: 0;
            }
        }
    }
    @include r(767){
        &__slider{
            overflow: hidden;
            flex: 1 0 100%;
            max-width: 100%;
        }
        &__content{
            flex: 1 0 100%;
            max-width: 100%;
        }
        .slider-thumbs{
            display: none;
        }
    }
}