.footer{
  background-color: #192864;
  padding: 22px 0 30px;
  &__body{
    margin-top: 43px;
    margin-bottom: 41px;
    display: flex;
    justify-content: space-between;
  }
  &__logo{
    margin-right: 32px;
    flex-shrink: 0;
  }
  &__about{
    flex: 1 0 410px;
    max-width: 410px;
    p{
      margin: 50px 0 0;
      font-weight: 400;
      font-size: 10px;
      line-height: 15px;
      color: #C6C6C6;
    }
  }
  &__contacts{
    flex: 1 0 285px;
    max-width: 285px;
    font-weight: 400;
    font-size: 15px;
    line-height: 149.99%;
    color: #FFFFFF;
    p{
      margin: 0;
      color: #FFFFFF;
    }
    a{
      color: #FFFFFF;
      text-decoration: none;
      &:hover{
        color: #ff0000;
      }
    }
  }
  &__title{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 11px;
  }
  &__link{
    color: #C6C6C6;
    text-decoration: none;
    display: block;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 11px;
    &.white{
      color: #ffffff;
    }
  }
  &__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 149.99%;
    color: #C6C6C6;

  }
  &__social{
    .icon{
      margin: auto;
    }
  }
  &__links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex: auto;
    a{
      color: #FFFFFF;
      text-decoration: none;
      &:hover{
        color: #ff0000;
      }
    }
  }

  @include r(1023){
    &__body{
      flex-wrap: wrap;
    }
    &__about{
      flex: 1 0 100%;
      max-width: 100%;
      display: flex;
      margin-bottom: 50px;
      p{
        font-weight: 400;
        font-size: 10px;
        line-height: 150%;
        color: #C6C6C6;
        margin: 0;
      }
    }
    &__copy{
      flex: 1 0 100%;
      order: 2;
    }
    &__footer{
      gap: 20px 60px;
    }
    &__links{
      justify-content: space-between;
    }
  }
  @include r(767){
    &__body{
      display: grid;
      grid-template-columns: 85px 1fr;
      grid-gap: 20px 40px;
      grid-template-areas: 'about about' 'menu1 contact' 'menu2 contact';
    }
    &__about{
      grid-area: about;
      margin-bottom: 20px;
    }
    &__contacts{
      grid-area: contact;
      font-size: 13px;
      line-height: 19px;
    }
    &__menu{
      &.area1{
        grid-area: menu1;
      }
      &.area2{
        grid-area: menu2;
      }
    }
    &__title{
      font-size: 13px;
      line-height: 19px;
      margin-bottom: 10px;
    }
    &__logo{
      max-width: 93px;
    }
    &__footer{
      gap: 20px;
      align-items: flex-start;
    }
    &__link{
      font-size: 13px;
      line-height: 19px;
    }
    &__links{
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      font-size: 10px;
      line-height: 15px;
    }
    &__social{
      flex: 1 0 50%;
      max-width: fit-content;
      a{
        display: inline-block;
      }
      .icon{
        margin: auto;
      }
    }
  }
  @include r(374){}
}