.header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    &.scroll{
        background-color: var(--black);
        height: 55px;
        position: fixed;
        transition: all .3s ease;
        .header__logo{
            display: inline-block;
            height: 55px;
            img{
                height: 100%;
                width: auto;
            }
        }
    }
    &__body{
        text-align: center;
        position: relative;
    }
    &__menu{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0,-50%);
        background-color: transparent;
        border: none;
        background-image: url("../img/menu.svg");
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        width: 33px;
        height: 33px;
        cursor: pointer;
    }
    &__logo{
        display: inline-block;
    }
    &__search{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0,-50%);
        background-color: transparent;
        border: none;
        background-image: url("../img/search.svg");
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        width: 33px;
        height: 33px;
        cursor: pointer;
    }
}