.hero{
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translate(-50%,0);
    min-height: 350px;
    max-height: 770px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    &__title{
        font-size: 48px;
        line-height: 56px;
        color: var(--white);
    }
    &__btns{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .btn{
            max-width: 280px;
            width: 100%;
            text-transform: uppercase;
        }
    }
    &__bg{
        position: relative;
        width: 100%;
        height: 100%;
        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(#000,.3);
            width: 100%;
            height: 100%;
        }
        img{
            display: block;
            object-fit: cover;
            height: 100%;
        }
    }
    &__content{
        padding: 40px 20px 60px;
        max-width: 945px;
        margin: 0 auto;
        z-index: 10;
        position: absolute;
        left: 0;
        right: 0;
    }
    @include r(1023){
        height: 100vh;
        &__title{
            font-size: 36px;
            line-height: 46px;
        }
        &__btns{
            .btn{
                max-width: 200px;
            }
        }
    }
}