.main-search{
  flex: 1 1 622px;
  max-width: 622px;
  &__form{
    position: relative;
    .form-control{
      padding-left: 35px;
    }
  }
  &__submit{
    position: absolute;
    top: 12px;
    left: 13px;
    background-color: transparent;
    background-image: url("../img/icons-sprite.svg#search");
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
    margin: 0;
    padding: 0;
    width: 15px;
    height: 15px;
  }
  &__btn{
    display: none;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid #000000;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin: 0;
    span{
      display: none;
    }
    .icon{
      width: 19px;
      height: 18px;
      margin-right: 2px;
    }
  }
  &__dropdown{
    display: none;
  }
  @include r(767){
    &__form{
      display: none;
    }
    &__btn{
      display: flex;
      margin: 0 0 0 auto;
    }
  }
}