.menu-catalog-mobile{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 25;
  background-color: #ffffff;
  padding: 28px 15px;
  overflow: hidden;
  transform: translate(0,100%);
  transition: all .3s ease;
  visibility: hidden;
  opacity: 0;
  &.active{
    transition: all .3s ease;
    opacity: 1;
    visibility: visible;
    transform: translate(0,0);
  }
  &__header{
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
  }
  &__prev{
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #000000;
    margin: 0 auto 0 0;
    padding-left: 24px;
    position: relative;
    .icon-back{
        position: absolute;
        top: 50%;
        left: -5px;
        transform: translate(0,-50%);
        width: 22px;
        height: 22px;
    }
  }
  &__title{
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #000000;
    margin: 0 auto 0 0;
  }
  &__close{
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    padding: 0;
    position: absolute;
    top: 26px;
    right: 15px;
    z-index: 20;
    .icon{
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
  &__body{
    height: calc(100% - 85px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
  }
  &__list{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 20px;
      &:last-of-type{
        margin: 0;
      }
      a{
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: #000000;
        position: relative;
        width: 100%;
        .icon-dropdown-bottom{
          width: 13px;
          height: 13px;
          position: absolute;
          margin: 0;
          top: 9px;
          right: 0;
          transform: rotate(-90deg);
        }
        &.select-city{
          .icon-dropdown-bottom{
            position: relative;
            top: 0;
            transform: rotate(0);
          }
        }
      }
    }
  }
  &__dropdown{

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    z-index: 10;
    padding: 28px 15px;
    transform: translate(-100%,0);
    transition: transform .3s ease;
    &.active{
      transform: translate(0,0);
      transition: transform .3s ease;
    }
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
  .banner-menu-catalog{
    padding: 0;
  }
}