.order-total{
    margin-top: 30px;
    &__title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: #000000;
    }
    &__price{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 67px;
        letter-spacing: -0.03em;
        color: #000000;
    }
    &__itogo{
        padding: 0;
        margin: 15px 0 10px;
        list-style: none;
        li{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 12px;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: #000000;
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
    &__list{
        margin: 0 0 28px;
    }
    &__count{
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        color: #000000;
    }
    &__btn{
        width: 100%;
        display: block;
    }
    &__text-small{
        margin-top: 15px;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #000000;
    }
}