.product-stock{
  display: flex;
  align-items: center;
  &__title{
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #000000;
    margin-right: 4px;
  }
  &__body{
    display: flex;
    span{
      width: 3px;
      height: 11px;
      display: block;
      margin-right: 2px;
      background-color: #D9D9D9;
      &:last-of-type{
        margin-right: 0;
      }
      &.active{
        background-color: #000000;
      }
    }
  }
  @include r(767){
    &__title{
      font-size: 11px;
      line-height: 18px;
    }
  }
}