.product-counter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 21px;
  font-family: $font1;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  &__control{
    width: 18px;
    height: 18px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    &.minus{
      background-image: url("../img/icons-sprite.svg#minus");
      &:hover{
        background-image: url("../img/icons-sprite.svg#minus-red");
        transition: all .3s ease;
      }
    }
    &.plus{
      background-image: url("../img/icons-sprite.svg#plus");
      &:hover{
        background-image: url("../img/icons-sprite.svg#plus-red");
        transition: all .3s ease;
      }
    }
  }
  &__num{
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  &__unit{
    flex: 1 0 22px;
    max-width: 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
  &__wrp-input{
    flex: 0 1 40px;
    max-width: 60px;
  }
  &__input{
    border: none;
    text-align: right;
    width: 100%;
    outline: none;
    flex: 1;
    background-color: transparent;
  }
}