.questions{
    max-width: 50%;
    &__list{
        margin: 0 0 40px;
        padding: 0;
        list-style: none;
    }
    &__item{
        margin-bottom: 10px;
    }
    &__name{
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 15px;
        line-height: 27px;
        color: #000000;
        margin: 0 0 4px;
        span{
            font-family: 'Arial';
            font-weight: 400;
            font-size: 13px;
            line-height: 21px;
            color: #808080;
        }
    }
    &__quest{
        font-family: 'Arial';
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #030303;
        margin-bottom: 20px;
    }
    &__answer{
        margin-left: 24px;
    }
    &__form{
        margin-top: 20px;
    }
    @include r(1023){
        max-width: 100%;
        textarea.form-control{
            height: 159px;
        }
    }
    @include r(767){
        .btn{
            width: 100%;
        }
    }
}