.review-star{
    margin: 0 0 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #000000;
    display: flex;
    .icon{
        margin-right: 6px;
    }
}