.select-city{
    position: relative;
    padding: 2px 18px 2px 26px;
    background-image: url("../img/icons-sprite.svg#location");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: left center;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
    width: fit-content;
    cursor: pointer;
    &:hover{
        color: #FF0000;
    }
    .icon{
        width: 9px;
        height: 6px;
        margin: 0;
    }
    &__modal{
        max-width: 426px;
        margin: 0 auto;
    }
    &__form{
        margin-bottom: 16px;
    }
    &__col{
        column-count: 2;
        max-height: 465px;
        overflow: auto;
        a{
            font-weight: 400;
            font-size: 14px;
            line-height: 31px;
            color: #000000;
            text-decoration: none;
            display: block;
            margin-bottom: 0;
        }
    }
}