.subscribe{
  margin-top: 20px;
  &--page{
    margin-top: 0;
    flex: 1;
    max-width: 387px;
    .subscribe__submit{
      background-color: #192864;
      background-image: url("../img/icons-sprite.svg#arrow-submit-left-light");
      background-size: 17px;
      border: 1px solid #192864;
    }
    .subscribe__form{
      .form-control{
        border: 1px solid #192864;
        color: #192864;
        &::placeholder{
          color: #ABABAB;
        }
      }
    }
    .subscribe__title{
      color: #000000;
    }
    .subscribe__agree{
      color: #000000;
    }

  }
  &__title{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 10px;
  }
  &__form{
    display: flex;
    position: relative;
    .form-control{
      background-color: transparent;
      border: 1px solid #FFFFFF;
      padding: 10px 15px;
      color: #ffffff;
      &::placeholder{
        color: #8791BB;
      }
    }
  }
  &__submit{
    background-color: #FFFFFF;
    background-image: url("../img/icons-sprite.svg#arrow-submit-left");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px;
    border: 1px solid #FFFFFF;
    flex: 1 0 53px;
    width: 53px;
    height: 53px;
  }
  &__agree{
    margin-top: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
  }
  @include r(767){
    &__title{
      font-size: 13px;
      line-height: 19px;
    }
    &__agree{
      line-height: 12px;
      margin-top: 10px;
    }
  }
}