.table-account{
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  &__th{
    display: table-row;
    width: auto;
    clear: both;
    margin-bottom: 10px;
    .table-account__td{
      text-align: left;
      padding-top: 0;
      padding-bottom: 0;
      &:first-of-type{
        padding-left: 0;
      }
    }
  }
  &__tr{
    display: table-row;
    width: auto;
    clear: both;
    margin-bottom: 10px;
    background-color: #FAFAFA;
  }
  &__td{
    display: table-cell;
    border: none;
    vertical-align: middle;
    padding: 20px 17px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
  }
  &__td-head{
    display: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #808080;
  }
  .btn-link{
    color: #000000;
    padding: 0;
  }
  @include r(1023){
    &__th{
      display: none;
    }
    &__tr{
      display: flex;
      flex-wrap: wrap;
      gap: 7px;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 30px;
    }
    &__td{
      flex: 1 0 calc(25% - 7px);
      max-width: calc(25% - 7px);
      display: block;
      vertical-align: top;
      padding: 0;
      &:nth-of-type(6){
        margin-left: auto;
        margin-right: 0;
      }
    }
    &__td-head{
      display: block;
    }
  }
  @include r(767){
    &__tr{
      gap: 15px;
      margin-bottom: 50px;
      justify-content: flex-start;
    }
    &__td{
      flex: 1 0 100%;
      max-width: 100%;
      &:nth-of-type(6){
        flex: 1 0 calc(25% - 7px);
        max-width: calc(25% - 7px);
        margin-left: 0;
      }
      &:last-of-type{
        flex: 1 0 calc(25% - 7px);
        max-width: calc(25% - 7px);
      }
    }
  }
}