@font-face {
	font-family: 'MotorCyr';
	src: local('MotorCyr'),
	url('../fonts/MotorCyr/MotorCyr.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}



$font1: 'Roboto', sans-serif;
$font2: 'MotorCyr', sans-serif;