.form-bg {
    background: #f1f5f9;
    border-radius: 4px;
    padding: 32px;
}
.form-group {
    margin-bottom: 10px;
    &.mb-60 {
        margin-bottom: 60px;
    }
    p {
        font-size: 13px;
        line-height: 16px;
        color: #333333;
    }
}
.form-column{
    width: 740px;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    .form-check{
        margin-bottom: 27px;
    }       
}
.form-row {
    display: flex;
    gap: 10px;
}
.form-dif {
    margin: 0 5px;
    align-self: center;
}
.form-subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin: 20px 0 10px;
}
.form-label {
    display: inline-block;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
.form-group .form-title {
    display: block;
    margin-bottom: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #333333;
}
.form-control {
    display: block;
    width: 100%;
    padding: 10px 15px 11px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.5px solid #000000;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:focus{
        outline: none;
        border-color: #000;
    }
    &:placeholder {
        color: #B9B9B9;
    }

}

.form-group-simbol {
    position: relative;
    max-width: 80px;
    .form-control {
        padding-right: 22px;
    }

    .simbol {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 5px;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        /* or 123% */

        text-align: center;

        color: #333333;
    }
}
.form-control-plaintext {
    display: block;
    width: 100%;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    margin-bottom: 0;
    line-height: 1.5;
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0;
    border-bottom: 1px solid rgba(68, 121, 163, 0.12);
    &:placeholder {
        color: #a4a9bb;
    }
}
.form-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}
.form-check-inline {
    display: inline-flex;
    align-items: center;
    padding-left: 0;
    margin-right: 26px;
}
.form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: 0.3125rem;
    margin-left: 0;
}
.form-check-label {
    margin-bottom: 0;
    a {
        text-decoration: none;
    }
}
.form-check-input:disabled ~ .form-check-label {
    color: #6c757d;
}
.form-check-input {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: -1.25rem;
}
.form-captcha {
    display: flex;
    align-items: center;
    .form-control {
        max-width: 150px;
        margin-right: 12px;
    }
}


.form_radio {
    margin-bottom: 10px;
}

.form_radio input[type=radio] {
    display: none;
}
.form_radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 0;
    line-height: 18px;
    user-select: none;
}
.form_radio label:before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background: url(../img/radiobutton-inactive.png) 0 0 no-repeat;
}

/* Checked */
.form_radio input[type=radio]:checked + label:before {
    background: url(../img/radiobutton-active.png) 0 0 no-repeat;
}

/* Hover */
.form_radio label:hover:before {
    filter: brightness(120%);
}

/* Disabled */
.form_radio input[type=radio]:disabled + label:before {
    filter: grayscale(100%);
}

.checkbox-other {
    display: block;
    margin: 0 0 16px 0;
    cursor: pointer;
    user-select: none;
    position: relative;
}
.checkbox-other input[type=checkbox] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}
.checkbox-other span {
    display: inline-block;
    position: relative;
    padding: 2px 0 2px 33px;
    line-height: 18px;
}
.checkbox-other span:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    transition: background-color 0.3s ease;
    background-color: #fff;
    border: 1px solid #000000;
}

/* Checked */
.checkbox-other input[type=checkbox]:checked + span:before {
    background-color: #192864;
    background-image: url("../img/icons-sprite.svg#chekbox-active");
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
}

/* Focus */
.focused span:before {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover */
.checkbox-other span:hover:before {
    background-image: url("../img/icons-sprite.svg#chekbox-active");
    background-size: 13px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #192864;
}

/* Active */
.checkbox-other span:active:before {
    filter: brightness(80%);
}

/* Disabled */
.checkbox-other input[type=checkbox]:disabled + span {
    color: #666;
    cursor: default;
}
.checkbox-other input[type=checkbox]:disabled + span:before {
    filter: grayscale(100%);
    opacity: 0.6;
}

.custom-radio{
    display: block;
    margin: 0 0 16px 0;
    padding-left: 34px;
    cursor: pointer;
    user-select: none;
    position: relative;
    &>input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:not(:disabled):not(:checked)+span:hover::before {
            border-color: #FF0000;
        }
        &:not(:disabled):active+span::before {
            background-color: #b3d7ff;
            border-color: #b3d7ff;
        }
        &:focus+span::before {
            box-shadow: 0 0 0 0.2rem rgba(#192864, 0.25);
        }
        &:focus:not(:checked)+span::before {
            border-color: #80bdff;
        }
        &:checked+span::before {
            background-color: #192864;
            background-image: url("../img/icons-sprite.svg#chekbox-active");
            background-size: 16px;
            background-position: center;
            background-repeat: no-repeat;
        }
        &:disabled+span::before {
            background-color: #e9ecef;
        }
    }
    &>span {
        display: inline-flex;
        align-items: center;
        user-select: none;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            display: block;
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #000000;
            border-radius: 0;
            margin-right: 0.5em;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }
    }
}


.jq-selectbox {
    vertical-align: middle;
    cursor: pointer;
    display: block;
    &:hover{
        .jq-selectbox__trigger-arrow {
            border-top-color: #000;
        }
    }
    &.focused{
        .jq-selectbox__select {
            border:none;
        }
    }
    &.opened{
        .jq-selectbox__trigger-arrow {
            transform: translate(0, -50%) rotate(180deg);
        }
    }
    &.disabled{
        .jq-selectbox__select {
            border-color: #ccc;
            background: #f5f5f5;
            box-shadow: none;
            color: #888;
        }
        .jq-selectbox__trigger-arrow {
            border-top-color: #aaa;
        }
    }
    &__select {
        height: 44px;
        padding: 0 23px 0 0;
        border-bottom-color: #b3b3b3;
        border-radius: 4px;
        background: #ffffff;
        border: none;
        box-sizing: border-box;
        box-shadow: none;
        font: 14px/44px Arial, sans-serif;
        color: #333;
        text-shadow: none;
        &:hover {
            background: #fff;
        }
        &:active {
            background: #fff;
            box-shadow: none;
        }
    }
    &__select-text {
        display: block;
        width: 100%;
        font-family: 'Arial';
        font-weight: 400;
        font-size: 15px;
        color: #000000;
    }
    &__trigger {
        position: absolute;
        top: 0;
        right: 0;
        width: 23px;
        height: 100%;
        border-left: none;
    }
    &__trigger-arrow {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        width: 13px;
        height: 19px;
        background-image: url("../img/icons-sprite.svg#arrow-dropdown-bottom");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        border: none;
    }
    &__dropdown {
        box-sizing: border-box;
        width: 100%;
        margin: 2px 0 0;
        padding: 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        background: #fff;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        font: 14px/18px Arial, sans-serif;
    }
    &__search {
        margin: 5px;
        input {
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            padding: 5px 27px 6px 8px;
            border: 1px solid #ccc;
            border-radius: 3px;
            outline: none;
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==")
            no-repeat 100% 50%;
            box-shadow: inset 1px 1px #f1f1f1;
            color: #333;
        }
    }
    &__not-found {
        margin: 5px;
        padding: 5px 8px 6px;
        background: #f0f0f0;
        font-size: 13px;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            min-height: 18px;
            padding: 5px 10px 6px;
            color: #231f20;
            &:hover {
                background-color: #0069d9;
                color: #fff;
            }
            &.selected {
                background-color: rgba(#0069d9, 0.6);
                color: #fff;
            }
            &.disabled {
                color: #aaa;
                &:hover {
                    background: none;
                }
            }
            &.optgroup {
                font-weight: bold;
                &:hover {
                    background: none;
                    color: #231f20;
                    cursor: default;
                }
            }
            &.option {
                padding-left: 25px;
            }
        }
    }
    .placeholder {
        color: #888;
    }
}

