.icon {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.icon-dropdown-bottom {
    background-image: url("../img/icons-sprite.svg#arrow-dropdown-bottom");
}
.icon-slider-left-light {
    background-image: url("../img/icons-sprite.svg#arrow-slider-left-light");
}

.icon-submit-left {
    background-image: url("../img/icons-sprite.svg#arrow-submit-left");
}
.icon-submit-left-light {
    background-image: url("../img/icons-sprite.svg#arrow-submit-left-light");
}

.icon-basket {
    background-image: url("../img/icons-sprite.svg#basket");
}
.icon-basket-gray {
    background-image: url("../img/icons-sprite.svg#basket-gray");
}

.icon-compare {
    background-image: url("../img/icons-sprite.svg#compare");
}
.icon-compare-gray {
    background-image: url("../img/icons-sprite.svg#compare-gray");
}

.icon-estimate {
    background-image: url("../img/icons-sprite.svg#estimate");
}
.icon-estimate-gray {
    background-image: url("../img/icons-sprite.svg#estimate-gray");
}

.icon-favorites {
    background-image: url("../img/icons-sprite.svg#favorites");
}
.icon-favorites-gray {
    background-image: url("../img/icons-sprite.svg#favorites-gray");
}

.icon-location {
    background-image: url("../img/icons-sprite.svg#location");
}

.icon-phone {
    background-image: url("../img/icons-sprite.svg#phone");
}

.icon-search {
    background-image: url("../img/icons-sprite.svg#search");
}

.icon-search-gray {
    background-image: url("../img/icons-sprite.svg#search-gray");
}

.icon-price {
    background-image: url("../img/icons-sprite.svg#price");
}

.icon-login {
    background-image: url("../img/icons-sprite.svg#login");
}
.icon-login-gray {
    background-image: url("../img/icons-sprite.svg#login-gray");
}

.icon-burger {
    background-image: url("../img/icons-sprite.svg#burger");
}
.icon-burger-gray {
    background-image: url("../img/icons-sprite.svg#burger-gray");
}

.icon-minus {
    background-image: url("../img/icons-sprite.svg#minus");
}
.icon-plus {
    background-image: url("../img/icons-sprite.svg#plus");
    width: 15px;
    height: 15px;
}

.icon-telegram-light {
    background-image: url("../img/social-sprite.svg#social-telegram-light");
    width: 35px;
    height: 35px;
}

.icon-vkontakte-light {
    background-image: url("../img/social-sprite.svg#social-vkontakte-light");
    width: 35px;
    height: 35px;
}

.icon-whatsapp-light {
    background-image: url("../img/social-sprite.svg#social-whatsapp-light");
    width: 35px;
    height: 35px;
}

.icon-youtube-light {
    background-image: url("../img/social-sprite.svg#social-youtube-light");
    width: 35px;
    height: 35px;
}


.icon-telegram-dark {
    background-image: url("../img/icons-sprite.svg#telegram-dark");
    width: 40px;
    height: 40px;
}

.icon-vkontakte-dark {
    background-image: url("../img/icons-sprite.svg#vkontakte-dark");
    width: 40px;
    height: 40px;
}

.icon-whatsapp-dark {
    background-image: url("../img/icons-sprite.svg#whatsapp-dark");
    width: 40px;
    height: 40px;
}

.icon-close {
    background-image: url("../img/icons-sprite.svg#close");
    width: 40px;
    height: 40px;
}

.icon-breadcrumb {
    background-image: url("../img/icons-sprite.svg#arrow-breadcrumb");
    width: 6px;
    height: 12px;
}

.icon-more-gray {
    background-image: url("../img/icons-sprite.svg#more-gray");
    width: 25px;
    height: 5px;
}

.icon-star {
    background-image: url("../img/icons-sprite.svg#star");
    width: 25px;
    height: 23px;
}

.icon-shopping-bag {
    background-image: url("../img/icons-sprite.svg#shopping-bag");
    width: 24px;
    height: 25px;
}

.icon-track {
    background-image: url("../img/icons-sprite.svg#track");
    width: 24px;
    height: 25px;
}

.icon-track-red {
    background-image: url("../img/icons-sprite.svg#truck-red");
    width: 25px;
    height: 25px;
}

.icon-download {
    background-image: url("../img/icons-sprite.svg#download");
    width: 19px;
    height: 19px;
}
.icon-clear {
    background-image: url("../img/icons-sprite.svg#clear");
    width: 21px;
    height: 23px;
}

.icon-close-gray {
    background-image: url("../img/icons-sprite.svg#close-gray");
    width: 13px;
    height: 13px;
}

.icon-rub-red {
    background-image: url("../img/icons-sprite.svg#rub-red");
    width: 17px;
    height: 21px;
}
.icon-pay-check-red {
    background-image: url("../img/icons-sprite.svg#pay-check-red");
    width: 17px;
    height: 21px;
}

.icon-map-pin-red {
    background-image: url("../img/icons-sprite.svg#map-pin-red");
    width: 17px;
    height: 21px;
}

.icon-edit {
    background-image: url("../img/icons-sprite.svg#form-edit");
    width: 20px;
    height: 20px;
}

.icon-filter {
    background-image: url("../img/icons-sprite.svg#filter");
    width: 23px;
    height: 17px;
}

.icon-back {
    background-image: url("../img/icons-sprite.svg#arrow-back");
    width: 11px;
    height: 21px;
}



