.text-warning {
  color: #F2994A;
}
.text-danger{
  color: #eb5757;
}
.text-link{
  color: #324c9a;
}
.text-white{
  color: #fff;
}

.text-success {
  color: #6fcf97;
}
.text-muted {
  color: #a4a9bb;
}
.text-center {
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

.text-uppercase{
  text-transform: uppercase;
}